services:
  comfyui:
    build: .
    container_name: comfyui
    working_dir: /opt/ComfyUI
    restart: unless-stopped
    devices:
      - /dev/dri:/dev/dri
      - /dev/kfd:/dev/kfd
    group_add:
      - video
      - render
    security_opt:
      - seccomp=unconfined
    environment:
      - HOME=/root
    command: [
      "sh", "-c",
      "python main.py \
         --port 8010 \
         --listen 0.0.0.0 \
         --base-directory /opt/comfy-ui-data \
         --output-directory /root/comfy-outputs \
         --disable-mmap \
         --reserve-vram 8 \
         --use-pytorch-cross-attention \
         --gpu-only"
      ]
    volumes:
      - ~/comfy-ui:/opt/comfy-ui-data:z,rw
      - ~/comfy-user:/opt/ComfyUI/user:z,rw
      - ~/comfy-outputs:$HOME/comfy-outputs:z,rw
    ports:
      - "8010:8010"

  sdforge:
    build:
      dockerfile: Dockerfile.sdforge
    container_name: sdforge
    working_dir: /opt/SD-WebUI-Forge-Classic
    restart: unless-stopped
    devices:
      - /dev/dri:/dev/dri
      - /dev/kfd:/dev/kfd
    group_add:
      - video
      - render
    security_opt:
      - seccomp=unconfined
    command: [
      "sh", "-c",
      "python launch.py \
         --port 8011 \
         --listen \
         --api"
      ]
    volumes:
      - ~/comfy-ui/models/diffusion_models:/opt/SD-WebUI-Forge-Classic/models/Stable-diffusion:z,rw
      - ~/comfy-ui/models/embeddings:/opt/SD-WebUI-Forge-Classic/models/embeddings:z,rw
      - ~/comfy-ui/models/loras:/opt/SD-WebUI-Forge-Classic/models/Lora:z,rw
      - ~/comfy-outputs/forge:/opt/SD-WebUI-Forge-Classic/output:z,rw
    ports:
      - "8011:8011"

  swarmui:
    build:
      dockerfile: Dockerfile.sdforge
    container_name: swarmui
    working_dir: /opt/SwarmUI
    restart: unless-stopped
    devices:
      - /dev/dri:/dev/dri
      - /dev/kfd:/dev/kfd
    group_add:
      - video
      - render
    security_opt:
      - seccomp=unconfined
    command: [
      "sh", "-c",
      "./launch-linux.sh \
         --port 7801 \
         --launch_mode none \
         --host 0.0.0.0"
      ]
    ports:
      - "8012:7801"
