services:
  comfyui:
    build: .
    container_name: comfyui
    working_dir: /opt/ComfyUI
    restart: unless-stopped
    devices:
      - /dev/dri:/dev/dri
      - /dev/kfd:/dev/kfd
    group_add:
      - video
      - render
    security_opt:
      - seccomp=unconfined
    environment:
      - HOME=/root
    command: [
      "sh", "-c",
      "python main.py \
         --port 8010 \
         --listen 0.0.0.0 \
         --base-directory /home/${USERNAME}/comfy-ui-data \
         --output-directory /home/${USERNAME}/comfy-outputs \
         --disable-mmap \
         --reserve-vram 8 \
         --use-pytorch-cross-attention \
         --gpu-only"
      ]
    volumes:
      - ~/comfy-ui:/opt/comfy-ui-data:z,rw
      - ~/comfy-user:/opt/ComfyUI/user:z,rw
      - ~/comfy-outputs:$HOME/comfy-outputs:z,rw
    ports:
      - "8010:8010"

  sdforge:
    build: Dockerfile.sdforge
    container_name: sdforge
    working_dir: /opt/SD-WebUI-Forge-Classic
    restart: unless-stopped
    devices:
      - /dev/dri:/dev/dri
      - /dev/kfd:/dev/kfd
    group_add:
      - video
      - render
    security_opt:
      - seccomp=unconfined
    environment:
      - HOME=/root
    command: [
      "sh", "-c",
      "python webui.py \
         --port 8011 \
         --api"
      ]
    ports:
      - "8011:8011"
