services:
  comfyui:
    build: .
    container_name: comfyui
    working_dir: /opt/ComfyUI
    restart: unless-stopped
    devices:
      - /dev/dri:/dev/dri
      - /dev/kfd:/dev/kfd
    group_add:
      - video
      - render
    security_opt:
      - seccomp=unconfined
    environment:
      - HOME=/root
    command: >
      sh -c "
        /opt/setup_comfy_ui.sh && \
        python main.py \
          --port 8010 \
          --listen 0.0.0.0 \
          --base-directory /opt/comfy-ui-data \
          --output-directory $HOME/comfy-outputs \
          --disable-mmap
      "
    volumes:
      - ~/comfy-ui:/opt/comfy-ui-data:z,rw
      - ~/comfy-outputs:$HOME/comfy-outputs
    ports:
      - "8010:8010"
